.btn {
	outline: none;
	width: calc(100% - 30px);
	padding: 15px;
	margin-left: 15px;
	text-transform: uppercase;
	border: 2px solid #FFF;
	border-radius: 15px;
	font-size: 2rem;
	transition: background-color 0.25s ease;
	background-color: transparent;

	&:hover {
		color: #FFF;
		background-color: rgba(255,255,255,0.2);
	}
}

.button-wrap {
	&.has-bg {
		color: #FFF;
		margin-left: -15px;
		width: calc(100% + 30px);
		padding: 15px;
		padding-top: 0px;

		button {
			margin-left: 0px;
			width: 100%;
			background-color: $brown;
		}
	}
	&.force {
		background-color: $brown;
		padding-top: 15px;

		button {
			background-color: transparent;
			color: #FFF !important;
			width: 100% !important;
		}
	}
	&.app-continue {
		margin-left: 0px;
		position: fixed;
		bottom: -100px;
		left: 0px;
		padding: 15px;
		z-index: 3;
		width: 100%;
	}

	button {
		outline: none;
		cursor: pointer;
	}

	.flex-wrap {
		div.button-wrap {
			width: 100%;
			
			&.fixed {
				position: absolute;
				bottom: 0px;
				left: 0px;
				padding-bottom: 15px;
			}

			&.has-bg {
				padding: 15px;
			}
		}
	}

	.activity-complete-wrap {
		.button-wrap {
			margin-left: 0px;
			width: 100%;
		}
	}
}

.app-wrap {
	.sub-app-screen {
		.btn-check-in {
			border: 3px solid $lightgray;
			width: 100%;
			margin-left: 0px;
			color: $gray;
			transition: border-color 0.25s ease;
			outline: none;

			&.not-clicked {
				border-color: $orange;
				color: orange;
			}
		}
	}
}

.btn-quiz,
.btn-modal-close {
	background-color: transparent;
	border: 3px solid $bluegreen;
	text-transform: none;
	color: $bluegreen;
	white-space: inherit;
	font-size: 1.8rem;
	margin-bottom: 15px;

	&:hover,
	&:active {
		background-color: transparent;
		color: $bluegreen;
	}
}

.btn-modal-close {
	text-transform: uppercase;
}