@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu.eot?#iefix') format('embedded-opentype'),  url('../fonts/Ubuntu.woff') format('woff'), url('../fonts/Ubuntu.ttf')  format('truetype'), url('../fonts/Ubuntu.svg#Ubuntu') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: 'Ubuntu';
}

body {
	overflow-x: hidden;
}

h1 {
	margin: 0px;
}

p {
	margin: 0px;
}

img {
	margin: 0 auto;
}

.can-scroll-wrap {
	pointer-events: none;
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 100%;
	text-align: center;
	display: none;
	z-index: 1;
	font-size: 5rem;
	display: none;
	opacity: 0.8;
	// animation: bounce 1s infinite ease-in-out;
	@keyframes bounce {
        0% {transform: translateY(5px);}
        50% {transform: translateY(0px);}
        100% {transform: translateY(5px);}
    }

    width: 20%;

    img {
    	width: 100%;
    	box-shadow: 0px 0px 1px $gray;
    	background-color: #FFF;
    	border-radius: 4px;
    }
}

.content {
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;

	.screen {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0px 15px;
		font-size: 2rem;
		color: #333;
		padding-top: 15px;
		
		.content-wrap {
			width: 100%;

			.question-text {
				text-align: center;
				padding-bottom: 15px;
			}
		}

		&.app-screen {
			overflow: hidden;
			padding-top: 0px;
			height: calc(100vh - 70px);
		}

		&.intro {
			padding-top: 0px;
			text-align: center;
			height: 100%;

			h1 {
				margin-bottom: 15px;
				font-style: italic;
			}

			.button-wrap {
				position: fixed;
				bottom: 15px;
				left: 0px;
				z-index: 3;
				width: 100%;

				button {
					margin-left: 0px;
				}
			}
		}

		&.has-flex {
			@include flex;
		}

		&.blue-bg {
			color: #FFF;
			background: url("../img/general/bg.png");
			background-size: 150%;
			background-color: $blue;
		}

		.blue {
			color: $bluegreen;
			font-style: italic;
			padding: 15px 0px;
			border-bottom: 1px solid $bluegreen;
			position: relative;
			text-align: center;

			&:before {
				content: "";
				width: 80%;
				margin: 0 auto;
				margin-bottom: 15px;
				height: 1px;
				background-color: #46c2c9;
				display: block;
			}
		}
		
		div.no-margin {
			width: calc(100% + 30px);
			margin-left: -15px;
			padding: 15px;
		}

		div.greenblue {
			background-size: 150%;
			background-color: $bluegreen;
			padding-top: 30px;
			padding-bottom: 30px;
			color: #FFF;

		}

		.logo-wrap {
			width: 100%;
			position: absolute;
			top: 0px;
			left: 0px;

			.logo-v1 {
				padding-top: 50px;
				margin: 0 auto;
				max-height: 240px;
				width: auto;
			}
		}

		.flex-wrap {
			margin: 0 auto;

			* {
				margin: 0 auto;
			}
		}

		.buffer {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.buffer-bottom {
			padding-bottom: 30px;
		}
		
		.reorder-activity {
			ul {
				overflow: auto;
				padding: 0px;
				margin: 0px;

				padding-top: 15px;
			    margin-bottom: 15px;
			    border-radius: 15px;

				li {
					list-style-type: none;
					outline: none;
					width: calc(100% - 30px);
					padding: 15px;
					margin-left: 15px;
					border-radius: 15px;
					font-size: 2rem;
					transition: background-color 0.25s ease;
					background-color: transparent;
					border: 3px dashed $bluegreen;
					text-transform: none;
					color: #FFF;
					white-space: inherit;
					font-size: 1.8rem;
					margin-bottom: 15px;
					text-align: center;
					position: relative;
					padding: 15px;

					&:hover,
					&:active {
						background-color: transparent;
						color: #FFF;
					}

					&:before {
						content: "";
					    width: calc(100% - 2px);
					    height: calc(100% - 2px);
					    background-color: #FFF;
					    position: absolute;
					    left: 1px;
					    top: 1px;
					    border-radius: 15px;
					    z-index: -1;
					}

					&:after {
						content: "";
					    width: calc(100% - 10px);
					    height: calc(100% - 10px);
					    background-color: $bluegreen;
					    position: absolute;
					    left: 5px;
					    top: 5px;
					    border-radius: 10px;
					    z-index: -1;
					}
				}
			}
		}
		
		.modal {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.75);
			z-index: 4;
			padding: 15px;
			@include flex;

			.modal-content {
				padding: 15px;
				background-color: #FFF;
				border: 3px solid $bluegreen;
				border-radius: 15px;
				text-align: center;

				button {
					margin: 0px;
					margin-top: 15px;
					color: $bluegreen;
					border-color: $bluegreen;
				}
			}
		}

		.app-wrap {
			position: absolute;
		    bottom: -100%;
		    left: 15px;
		    width: calc(100% - 30px);
		    background-color: #FFF;
		    height: calc(100% - 30px) !important;
		    z-index: 3;
		    border-radius: 15px;
	    	border: 1px solid $lightgray;
	    	border-bottom: 0px;
	    	box-shadow: 0px 0px 1px $gray;
	    	overflow-y: auto;
	    	padding: 15px;
	    	padding-top: 0px;

	    	.sub-app-screen {
	    		display: none;
	    		color: $gray;
	    		padding-top: 15px;
	    		position: relative;
				
				.fa-check-circle {
					text-align: center;
					display: block;
					color: $bluegreen;
					font-size: 4rem;
				}

				.thanks {
					p {
						font-size: 1.5rem;
					}
				}
				h3 {
					text-transform: uppercase;
					text-align: left;
					font-weight: bold;
					border-bottom: 1px solid $lightgray;
					clear: both;
					float: none;
					padding-top: 15px;
					padding-bottom: 2px;
				}

				.icon-w-text {
					text-align: left;
					clear: both;
					float: none;

					img {
						width: 20px;
						margin-right: 15px;
						float: left;
						margin-top: 3px;
					}
					
					p {
						width: calc(100% - 35px);
						float: left;
						margin-bottom: 5px;
					}
				}

	    		.checked-in {
	    			display: none;
	    			color: #333;
	    			text-align: center;
	    			padding-bottom: 15px;
	    		}
				
				.greenblue-header {
					color: $bluegreen;
				}
				
				.time-wrap {
					font-size: 1.5rem;
					padding: 10px 15px;
					border: $lightgray 1px solid;
					border-radius: 5px;
					width: calc(100% + 15px);
					margin-bottom: 15px;
					
					&.first {
						border-top-right-radius: 0px;
						border-bottom-right-radius: 0px;
					}

					&.last {
						margin-left: -15px;
						border-left: 0px;
						border-top-left-radius: 0px;
						border-bottom-left-radius: 0px;
					}
				}

				.notes,
				.instructions {
					font-size: 1.5rem;
				}
				
				.button-wrap {
					background-color: transparent;
					border: 0px;
					position: static;
					padding: 0px;
					padding-top: 15px;

					button {
						background-color: $brown !important;
					}
				}
				
				.notes {
					margin-top: 15px;
					padding: 5px;
					border-radius: 5px;
					border: 2px solid $bluegreen;
				}

				.day-wrap {
					padding: 15px;
					padding-top: 0px;
					text-align: center;

		    		.day {
						font-weight: bold;
						margin-bottom: 5px;
		    		}
		    		.date {
						position: relative;
						z-index: 2;

						&:before {
							content: "";
							background-color: $lightgray;
							height: 2px;
							position: absolute;
							left: 0px;
							top: 13px;
							z-index: -3;
							width: 100%;
						}

						&:after {
							content: "";
							background-color: #FFF;
							height: 2px;
							position: absolute;
							margin-left: -40px;
						    top: 13px;
						    left: 50%;
						    z-index: -2;
						    width: 80px;
						}
		    		}
		    		.app-person {
		    			text-align: left;
		    			padding-bottom: 15px;
		    			position: relative;

			    		.time {
			    			position: relative;
			    			&:after {
								content: "";
								background-color: $lightgray;
								height: 1px;
								width: calc(100% - 79px);
								position: absolute;
								left: 79px;
								top: 19px;
								z-index: 0;
			    			}
			    		}
			    		.name {
							font-weight: bold;
			    		}
			    		.desc {
							font-size: 1.7rem;
			    		}

			    		&.popover {
		    				border: 3px solid $orange;
		    				margin-left: -20px;
		    				margin-bottom: 15px;
							width: calc(100% + 40px);
							padding: 15px;
		    				border-radius: 10px;
		    				cursor: pointer;

		    				color: $orange;

		    				.time {
								&:after {
									background-color: $orange;
								}
							}
		    			}
		    		}

		    		&:nth-child(even) {
						@include greywhite-gradient;
						border-radius: 10px;
						margin-left: -15px;
						border-radius: 0px;
						width: calc(100% + 30px);
						padding: 15px 30px;

						.date {
							&:after {
								background-color: #F8F8F8;
							}
						}
					}
	    		}
	    	}
		}

		.activity-complete-wrap {
			margin-left: -15px;
		    width: calc(100% + 30px);
		    margin-top: -15px;

		    &.content-wrap {
		    	height: calc(100vh - 84px);
		    }
			
			.button-wrap {
				width: 100%;
				margin-left: 0px;
			}

	    	.activity-complete-image {
	    		width: 100%;
	    		height: 200px;
				
				background-position: center;
				background-size: cover;

				&.a1a {
					background-image: url("../img/a1/a1a_testimonial.jpg");
				}
				&.a1b {
					background-image: url("../img/a1/a1b_testimonial.jpg");
				}
				&.a2 {
					background-image: url("../img/a2/a2_testimonial.jpg");
				}
				&.a3a {
					background-image: url("../img/a3a/a3a_testimonial.jpg");
				}
				&.a3b {
					background-image: url("../img/a3b/a3b_testimonial.jpg");
				}
				&.a4 {
					background-image: url("../img/a4/a4_testimonial.jpg");
				}
				&.a5 {
					background-image: url("../img/a5/a5_testimonial.jpg");
				}
				&.a6a {
					background-image: url("../img/a6a/a6a_testimonial.jpg");
				}
				&.a6b {
					background-image: url("../img/a6b/a6b_testimonial.jpg");
				}
				&.a7 {
					background-image: url("../img/a7/a7_testimonial.jpg");
				}
				&.a8 {
					background-image: url("../img/a8/a8_testimonial.jpg");
				}
				&.a9 {
					background-image: url("../img/a9/a9_testimonial.jpg");
				}
	    	}
			.activity.copy-section {
				position: relative;
				background-color: $bluegreen;
				@include flex;
				padding: 15px;
				text-align: center;
				width: 100%;
				color: #FFF;
				height: calc(100% - 277px);

				h2 {
					font-size: 2.2rem;
					font-style: italic;
					margin-bottom: 15px;
					font-weight: bold;
				}

				p {
					font-style: italic;
					font-size: 1.8rem;
				}

				.activity-tick {
				    width: 35px;
				    top: -15px;
				    left: 50%;
				    margin-left: -17.5px;
				    position: absolute;
				}
			}
	    }
	}
}

.top-buffer {
	margin-top: 100px !important;
}
.bottom-buffer {
	margin-bottom: 30px !important;
}
.small-img {
	width: 100px;
}

.slider-screen {
	height: calc(100% - 50px) !important;
	padding-bottom: 15px !important;
	overflow-y: auto;
	padding-top: 90px !important;
	overflow-x: hidden;

	.slider-img {
		width: 70%;
		max-width: 300px;
	}

	.compliance-slider {
		.slide {
			position: relative;
			display: none;
			background-color: $lightgray;
			border-radius: 5px;
			
			p {
				padding: 15px;
			}

			&:first-child {
				display: block;
			}

			.btn {
				border: 0px;
			}
		}
	}
	
	.slider-crumbs {
		position: absolute;
		top: 70px;
		left: 0px;
		width: 100%;
		text-align: center;

		.slide-crumb {
			transition: color 0.5s ease;
			font-size: 10px;
			margin-right: 5px;
			color: $lightgray;
			cursor: pointer;
			transition: color 0.5s ease;

			&:last-child {
				margin-right: 0px;
			}

			&.c-active {
				color: $bluegreen;
			}

			&:hover {
				color: $gray;
			}
		}
	}
	.slider-nav {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		text-align: center;
		height: 50px;
		background-color: $gray;

		.slider-prev,
		.slider-next {
			width: 50%;
			top: 0px;
			position: absolute;
			padding: 15px 0px;
			background-color: $lightgray;
			height: 50px;
			transition: opacity 0.5s ease;
			cursor: pointer;
			transition: background-color 0.5s ease;

			&:hover {
				background-color: $gray;
			}
		}
		
		.slider-prev {
			left: 0px;
		}
		.slider-next {
			right: 0px;
		}
	}
}

.commit-checkbox {
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 32px !important;
	margin-right: 5px !important;
}

.commit-clause {
	margin-top: 30px;
	float: left;
	width: calc(100% - 55px);
}

.stars {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;

	i {
		margin-right: 5px;
		font-size: 30px;
		color: #FF8106;
		&:last-child {
			margin-right: 0px;
		}
	}
}

.sortable-placeholder {
	background-color: #FFF !important;
	height: 61px;
	border: 3px dashed $bluegreen !important;
}

.ui-sortable-helper {
	left: 15px !important;
	z-index: 1;

	&:before,
	&:after {
		z-index: -1 !important;
	}

	&:active,
	&:focus {
		color: #FFF !important;
	}
}

.loader {
	background-color: $bluegreen;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	width: 100%;
	background: url("../img/general/background pattern.svg");
	background-size: 150%;
	background-color: $blue;

	.logo-v1 {
		position: absolute;
		top: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
	.loading {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		display: block;
		text-align: center;
		width: 100%;
		text-transform: uppercase;
		font-size: 2rem;
		color: #FFF;
	   -webkit-animation: flickerAnimation 1s infinite;
	   -moz-animation: flickerAnimation 1s infinite;
	   -o-animation: flickerAnimation 1s infinite;
	    animation: flickerAnimation 1s infinite;
	}
}

.video-logo {
	margin-bottom: 30px;
}