body.scroll-lock {
	overflow: hidden !important;
}

.menu {
	top: 0px;
	left: 0px;
	padding: 15px;
	background-color: #FFF;
	width: 100%;
	z-index: 2;
	display: none;
	// box-shadow: 0px 0px 1px $gray;
	
	.logo-wrap {
		img {
			margin: 0;
			height: auto;
			max-width: 260px;
		}
	}
	
	.hamburger {
		top: 21px;
		right: 21px;
		height: 26px;
		display: block;
		cursor: pointer;
		transition: all 0.3s ease;
		transform-origin: center;
		width: 35px;
		
		span {
			height: 6px;
			width: 100%;
			background-color: $bluegreen;
			position: absolute;
			right: 0px;
			top: 0px;
			transition: all 0.3s ease;
			transform-origin: center;
			border-radius: 4px;
		}

		&:not(.open) {
			span:nth-child(1) {
				margin-top: 0px;
			}
			span:nth-child(2) {
				margin-top: 10px;
			}
			span:nth-child(3) {
				margin-top: 20px;
			}
		}

		&.open {
			transform: rotate(90deg);

			span {
				top: 9px;
				border-radius: 40px;
			}
			span:nth-child(1) {
				transform: rotate(45deg);
			}
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}

.hamburger-menu {
	display: none;
	position: fixed;
	top: -68px;
	left: 0px;
	height: calc(100% - 68px);
	width: 100%;
	z-index: 1;
	background-color: $bluegreen;
	color: #FFF;
	overflow-y: auto;
	font-size: 2rem;
	
	.closed {
		display: none;
	}
	
	.level-1,
	.level-2,
	.level-3 {
		width: 100%;

		.item {
			display: table;
			width: 100%;
			padding: 15px 0px;
			@include flex();

			p {
				position: relative;
				width: calc(100% - 45px);
				padding-left: 15px;
				font-size: 1.6rem;
				float: left;
			}
			i {
				text-align: center;
				float: right;
				width: 45px;
				height: 100%;
				transition: transform 0.5s ease;

				&.rotate {
					transform: rotate(90deg);
				}
			}
		}

		.links {
			.item {
				background-color: #FFF;
				padding: 15px 0px;

				a {
					color: $bluegreen;
				}
			}	
		}
	}
	
	.menu-left-1 {
		padding-left: 30px !important;
	}
	.menu-left-2 {
		padding-left: 60px !important;
	}

	// ul {
	// 	padding: 0px;

	// 	.sub-menu-trigger {
	// 		padding: 15px;
	// 		list-style-type: none;
	// 		position: relative;
	// 		font-size: 1.6rem;

	// 		&:after {
	// 			content: "\f054";
	// 			font-family: "FontAwesome";
	// 			position: absolute;
	// 			top: 16px;
	// 			right: 15px;
	// 		}

	// 		&.no-bg {
	// 			background-color: transparent;
	// 		}

	// 		.sub-menu {
	// 			padding-left: 15px;
	// 			display: none;
	// 			margin-top: 15px;

	// 			li {
	// 				list-style-type: none;

	// 				.subsub {
	// 					display: none;
	// 					width: calc(100% + 75px);
	// 					margin-left: -45px;

	// 					li {
	// 						padding: 10px 0px;
	// 						background-color: #FFF;
	// 					    color: $bluegreen;
	// 					    margin-left: -60px;
	// 						width: calc(100% + 60px);
	// 					    padding-left: 125px;

	// 						a {
	// 					    	color: $bluegreen;
	// 					    }
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}