.triangle-border {
	position: absolute;
	border: 5px solid $orange;
	background: $orange;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #FFF;
	text-transform: uppercase;
	font-style: italic;
	padding: 5px 15px;
	top: -75px;
	left: 0px;
	animation: bounce 1s infinite ease-in-out;

	&:before {
		content: "";
		position: absolute;
		bottom: -20px;
		left: 15px;
		border-width: 20px 20px 0;
		border-style: solid;
		border-color: $orange transparent;
		display: block;
		width: 0;
	}
}

@keyframes bounce {
    0% {transform: translateY(5px);}
    50% {transform: translateY(0px);}
    100% {transform: translateY(5px);}
}

.speech-bubble-wrap {
	position: relative;
	margin: 0 auto;

	.triangle-border {
		animation: none;
		top: auto;
		color: #FFF;
		border-width: 0px;
		border-color: rgba(0, 0, 0, 0.5);
		background: rgba(0, 0, 0, 0.5);
		font-style: normal;
		font-size: 1.8rem;
		text-transform: none;
		text-align: center;
		max-width: 190px;

		&.wide-bubble {
			max-width: 300px;
		}

		&:before {
			border-color: rgba(0, 0, 0, 0.5) transparent;
		}

		&[data-bubble] {
			display: none;
		}

		&.right-bubble {
			&:before {
				left: auto;
				right: 15px;
			}
		}
	}



	.bubble-trigger {
		height: 45%;
		width: 15%;
		position: absolute;
		border: 3px dashed $bluegreen;
		border-radius: 15px;
		cursor: pointer;
		transition: background-color 0.5s ease;
		background-color: transparent;

		&:hover {
			background-color: $orangealpha;
		}
	}
}