.video-wrapper {
	max-width: 900px;
	margin: 0 auto;

	.wistia_responsive_padding {
		padding: 50.0% 0 0 0;
		position: relative;

		.wistia_responsive_wrapper {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;

			.wistia_embed {
				display: inline-block;
				height: 100%;
				width: 100%
			}
		}
	}
}