meta(name="viewport" content="width=device-width, initial-scale=1")
meta(charset="UTF-8")
meta(name="format-detection" content="telephone=no")
title Good Friends
link(rel="stylesheet" href="css/styles.min.css")
script(src="js/scripts.min.js")
script(src="js/ga.js")