div.menu
	+logo("v2")
	
	//- div.hamburger
	//- 	span
	//- 	span
	//- 	span

div.hamburger-menu
	div.level-1
		//- Item 1
		div.item.trigger
			p Welcome To Good Friends
			i.fa.fa-chevron-right
		div.level-2.level.links.closed
			div.item.menu-left-1
				p 
					a(href="#") Not Available
		//- Item 2
		div.item.trigger
			p How Friendly Are You?
			i.fa.fa-chevron-right
		div.level-2.level.closed
			div.item.menu-left-1.trigger
				p Meeting Your Members
				i.fa.fa-chevron-right
			div.level-3.level.links.closed
				div.item.menu-left-2
					p 
						a(href="a1.html") Getting off to a good start
				div.item.menu-left-2
					p 
						a(href="a2.html") More than finishing To-Do lists
				div.item.menu-left-2
					p 
						a(href="a3a.html") Getting out and about
				div.item.menu-left-2
					p 
						a(href="a3b.html") Choosing your words

			div.item.menu-left-1.trigger
				p Our Vision Of A Visit
				i.fa.fa-chevron-right
			div.level-3.level.links.closed
				div.item.menu-left-2
					p 
						a(href="a4.html") Focusing your time &amp; attention
				div.item.menu-left-2
					p 
						a(href="a5.html") Meeting the needs of Members
				div.item.menu-left-2
					p 
						a(href="a6a.html") Providing help to individuals (Pt.1)
				div.item.menu-left-2
					p 
						a(href="a6b.html") Providing help to individuals (Pt.2)
				div.item.menu-left-2
					p 
						a(href="a19.html") Monitoring medication for Members
				div.item.menu-left-2
					p 
						a(href="a7.html") Providing a clear picture to all
				div.item.menu-left-2
					p 
						a(href="a8.html") Balancing Act
				div.item.menu-left-2
					p 
						a(href="a18.html") Sometimes bad things happen

			div.item.menu-left-1.trigger
				p Finishing Your Visit
				i.fa.fa-chevron-right
			div.level-3.level.links.closed
				div.item.menu-left-2
					p 
						a(href="a9.html") Wrapping up the right way

		//- Item 3
		div.item.trigger
			p How To Make the Most Out Of Good Friends
			i.fa.fa-chevron-right
		div.level-2.level.links.closed
			div.item.menu-left-1
				p 
					a(href="#") Not Available

		//- Item 4
		div.item.trigger
			p Policy Pack
			i.fa.fa-chevron-right
		div.level-2.level.links.closed
			div.item.menu-left-1
				p 
					a(href="#") Not Available

		//- Item 5
		div.item.trigger
			p Compliance Key Messages
			i.fa.fa-chevron-right
		div.level-2.level.links.closed
			div.item.menu-left-1
				p 
					a(href="compliance.html") Compliance