mixin logo(type)
	div.logo-wrap
		if type == "v1"
			img(src="img/general/testlogo_v1.svg" class="img-responsive logo-v1")
		if type == "v2"
			img(src="img/general/testlogo_v2.svg" class="img-responsive logo-v2")

mixin button(text, bg, option, branch)
	if text == "Continue 2"
		div.button-wrap.has-bg.force
			button.btn.btn-continue.next Continue
	else if text == "Continue 3"
		div.button-wrap.has-bg.force
			button.btn.btn-continue.next Continue
	else if text == "Continue 4"
		div.button-wrap.has-bg.force
			button(class="btn", data-branch=branch) Continue
	else if text == "Back 2"
		div.button-wrap.has-bg.force
			button.btn.btn-back Back
	else if text == "Try Again 2"
		div.button-wrap.has-bg.force
			button(class="btn btn-back", data-branch=branch) Try Again
	else if text == "Finish"
		if option == "complete"
			div.button-wrap.has-bg.force
				button.btn.btn-continue.complete-module Finish
		else
			div.button-wrap.has-bg.force
				button.btn.btn-continue.next Finish
	else if text == "Continue Lock"
		div.button-wrap.has-bg
			button.btn.btn-continue.next.disabled Continue
	else if text == "Back" || text == "Try Again"
		if option == false
			div.button-wrap.has-bg
				button(class="btn btn-back", data-branch=branch)= text
		else
			div.button-wrap.has-bg
				button.btn.btn-back= text
	else if option == false
		div.button-wrap.has-bg
			button(class="btn", data-branch=branch)= text
	else if text == "Quiz"
		button(class="btn btn-quiz", data-branch=branch)= option
	else if text == "Check In" || text == "Check Out"
		button.btn.btn-check-in.not-clicked= text
	else
		if bg == true
			div.button-wrap.has-bg
				button.btn.btn-continue.next= text
		else
			div.button-wrap
				button.btn.btn-continue.next= text

mixin tick()
	img(src="img/general/tick_icon.svg" class="activity-tick")