extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Getting off to a good start.
			p How to use the Good Friends app when you arrive at a visit.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue A short, important note about these activities...
			p.buffer We're always developing the app to make it a better tool for you. So what you're going to see in this series of activities isn't an exact replica of what you'll use in real life. Instead, we'll be using a stripped back version to demonstrate the core functionality and get you up and running ASAP. 
			
			div.greenblue.no-margin.buffer
				p In this activity, you're going to select a job and log your start time in a mock-up of the Good Friends app.
				
			+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue You arrive at 10:55am for your visit with Terrance.
			img(src="img/a1/A1.03.jpg", class="img-responsive buffer") 

			+button("Open App", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 28 June
					div.app-person
						p.time 3:15pm
						p.name Patricia Davidson
						p.desc 30 minutes of Personal Care, Specialist Health Care
				div.day-wrap
					p.day Today
					p.date 29 June
					div.app-person
						p.time 9:30am
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 11:00am
						p.name Terrance Normanby 
						p.desc 45 minutes of Yard Maintenance, Companionship 
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Terrance Normanby
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 39 Albert Street, Auckland CBD, Auckland 1010
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p 0377 972 118 

				h3 Tasks
				p.text-left 45 minutes of Yard Maintenance, Companionship

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Done! Checking in is just as easy as that.
			p.buffer Each visit is part of an agreed plan and budget. You should use the app to log the times you start and end your visits. 
			p.buffer-bottom It provides transparency and assurance to our Members and their families. Just knowing that you have arrived can provide enormous peace of mind for families and is greatly appreciated. Also, thinking you have not arrived can cause concern. So checking in promptly is really important.
			p.buffer-bottom Checking out when you leave is also really important. The process of checking out is what generates your invoice and how we can ensure you get paid the correct amount.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom Your visit with Terrance was scheduled to start at 11:00am. You arrived five minutes early, which is great. It's important to ensure the actual visit time and duration reflect the schedule agreed to with the member or family. 
				p.buffer-bottom Variations are okay as long as they are agreed or justified. Leave a comment for the Community Manager if a variation has occurred or alert the family if the scheduled duration or time is not suiting the member's need.
				p Oh, by the way... you can adjust the start and end times after a visit if you forget, but it's always better to log them correctly in the first place. 


			+button("Continue 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a1a
			div.activity.copy-section
				div.content-wrap
					+tick
					p "I greatly appreciate that you're always on time and so well organised."

			+button("Continue 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a1b
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Being able to see that you've started on time via the Good Friends app gives me peace of mind."
			
			a(href="a9.html")
				+button("Finish", true)