extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Sometimes bad things happen.
			p Being prepared for unexpected events by understanding key policies.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Today you're doing some yard work for Sue.
			img(src="img/a18/A18.02.jpg", class="img-responsive buffer") 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue When you finish and turn off the lawn mower...
			img(src="img/a18/A18.03.jpg", class="img-responsive buffer") 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue ...you hear Sue screaming in pain inside the house!  
			img(src="img/a18/A18.04.jpg", class="img-responsive buffer") 
			p.text-center.buffer-bottom You rush inside.
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Sue is sprawled on the floor at the foot of the stairs.

			p.question-text.buffer What the first thing you should you do?

			+button("Quiz", false, "Try to make her comfortable.", 1)
			+button("Quiz", false, "Call 111 and request an ambulance.", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hang on! Get the ambulance on the way there first.
			img(src="img/a18/A18.06.01.jpg", class="img-responsive buffer") 

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Yes. You need to prioritise expert medical care.
			img(src="img/a18/A18.06.01.jpg", class="img-responsive buffer") 

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Great. An ambulance will be there any minute now.

			p.question-text.buffer What should you do next?

			+button("Quiz", false, "Try to make her comfortable.", 1)
			+button("Quiz", false, "Get her up and administer First Aid.", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Without moving or lifting, you get Sue comfortable. 
			img(src="img/a18/A18.08.01.jpg", class="img-responsive buffer") 

			p.buffer-bottom Do <b>NOT</b> move her! There is a significant risk you could, in fact, cause Sue greater injury. This is serious stuff. 
			p.buffer-bottom Additionally, this is a manual handling risk for <b>you</b>. Lifting an adult off the floor requires a specific, careful technique. 
			p.buffer-bottom So, instead... do your best to make Sue comfortable and wait for the ambulance officers. 
			div.greenblue.no-margin.buffer
				p.buffer-bottom As for administering First Aid, <b>only</b> do so if you're qualified and you know exactly what you're doing. If in doubt, wait for the ambulance.  
				p If Sue is bleeding, apply pressure and control bleeding. Continue to take instructions from the 111 operator if Sue is unresponsive or not breathing.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Sue suggests you wait for the ambulance officers.
			img(src="img/a18/A18.08.01.jpg", class="img-responsive buffer") 

			p.buffer-bottom Do <b>NOT</b> move her! There is a significant risk you could, in fact, cause Sue greater injury. This is serious stuff. 
			p.buffer-bottom Additionally, this is a manual handling risk for <b>you</b>. Lifting an adult off the floor requires a specific, careful technique. 
			p.buffer-bottom So, instead... do your best to make Sue comfortable and wait for the ambulance officers. 
			div.greenblue.no-margin.buffer
				p.buffer-bottom As for administering First Aid, <b>only</b> do so if you're qualified and you know exactly what you're doing. If in doubt, wait for the ambulance.  
				p If Sue is bleeding, apply pressure and control bleeding. Continue to take instructions from the 111 operator if Sue is unresponsive or not breathing.

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Sue's in a lot of pain. Maybe she's broken something. 

			p.question-text.buffer What should you do next?

			+button("Quiz", false, "Notify Community Manager & Authorised Representative.", 1)
			+button("Quiz", false, "Get the prescription painkillers you saw in the bathroom.", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue That's right. Your focus right now, though, is Sue. 

			p.buffer-bottom It's critical that as soon as the immediate situation is under control, you notify both the Community Manager and the Member's family. 
			p.buffer-bottom You can do this once the ambulance officers have taken over. In the meantime, you should stay with Sue and reassure that the ambulance will be there very soon.
			div.greenblue.no-margin.buffer
				p Avoid giving Sue any medication. Even her usual painkillers may be contraindicated in this situation. Wait for the ambulance. Encourage Sue to take deep breaths instead.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Hold up! Are you sure that's the best action to take?
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a18/A18.10.02.jpg", class="img-responsive buffer") 
			p.buffer Avoid giving Sue any medication. Even her usual painkillers may be contraindicated in this situation. Wait for the ambulance. Encourage Sue to take deep breaths instead.
			div.greenblue.no-margin.buffer
				p You should stay with Sue and reassure that the ambulance will be there very soon. Then... once the ambulance officers have taken over, it's critical you notify both the Community Manager and the Member's family

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue It's always better to be prepared, don't you think? 
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a18/A18.11.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Policy documents are never exciting reading – we all know that. However, they exist for an extremely important set of reasons. 
			p.buffer-bottom Many factors and potential situations have already been considered in order to draft the Good Friends policies and procedures. 
			p.buffer-bottom You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.
			div.greenblue.no-margin.buffer
				p When you're aware of the policies – including what you must and must not do under certain circumstances – it becomes easier for you to confidently navigate the sometimes complex, challenging, and confusing events that the workplace can present you with. 
			
			a(href="javascript:void(0)")
				+button("Finish", true, "complete")