extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Medication Safety in the home
			p Being a vigilant, responsible, and safe Caregiver.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue This is your first visit with Ted. You ask about these:
			img(src="img/a19/A19.02.jpg", class="img-responsive buffer") 
			
			p.buffer "Oh yeah... that" says Ted. "I get ‘em out of that damn packaging and into that container while my hands aren't hurting. It makes it much easier for me to get at ‘em each morning".  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue The box says daily. You ask if he's taken one today. 
			img(src="img/a19/A19.03.jpg", class="img-responsive buffer") 
			
			p.buffer "I think so... umm... maybe not. Can't remember, actually. Perhaps I should take another one just to be sure. I tell ya, it really hurts later on if I don't take one." 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue What do you think you should do?
			img(src="img/a19/A19.03.jpg", class="img-responsive buffer") 

			+button("Quiz", false, "Wait. If Ted is in pain, direct him to take a capsule. ", 1)
			+button("Quiz", false, "Send a photo to Ted's Authorised Representative.", 2)
			+button("Quiz", false, "Call the Community Manager for further advice.", 3)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Risky! What if Ted has already taken one? No, no, no. 
			
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a19/A19.05.01.jpg", class="img-responsive buffer") 

			+button("Try Again", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue This probably won't help with the problem right now.  
			
			img(src="img/a19/A19.02_1.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom The Authorised Representative definitely needs to know about Ted's "solution" for his medication – as does the Community Manager. They can then work with Ted to find a safer alternative. Consequently, you need to detail this in the notes for the visit and attach photos. 

			div.greenblue.no-margin.buffer
				p However, this doesn't solve your immediate problem because, without a unit dose style of pack, you still don't know whether or not Ted has taken his medication today. 

			+button("Try Again 2", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue.buffer-bottom That's definitely your best course of action here. 

			p.buffer You need to call the Community Manager directly. Without a unit dose style of pack, you don't know whether or not Ted has taken his medication today. The Community Manager will be able to help you navigate the situation. 
			p.buffer-bottom You definitely have to detail this in the notes for the visit and attach photos. This should be a brief note in the App and the Community Manager will support you to develop a detailed file note. Both the Community Manager and the Authorised Representative need to know about Ted's "solution" for his medication. That way, they can work with Ted to find a safer alternative.
			div.greenblue.no-margin.buffer
				p Discuss with Ted and his family that he should have a discussion with the pharmacist so that there is a safe effective way for Ted to manage his medication which works well for him. A different aid may be needed. The Community Manager can help with this. You are also not authorised to assist with medications if they are not contained in a Dose Administration Aids (DAA)

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue There's no room for error in relation to medications. 
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a18/A18.11.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Only Helpers who have successfully completed our Medication Competency can be involved in <i>providing</i> (prompting or supervising) medication to members. 
			p.buffer-bottom If you are not competent, you must never – under any circumstances – get involved with a Member's medication. If you are asked to do so, you must decline politely and contact the Community Manager. 
			p.buffer-bottom If you <b>are</b> competent to prompt or supervise medication, you must familiarise yourself with the details and directions for medications in each relevant Member's Help Plan. If there are no directions, contact the Community Manager before taking any action. 
			div.greenblue.no-margin.buffer
				p.buffer-bottom If the circumstances are different to what is on the Help Plan, then you must contact the Community Manager. The Community Manager will update the Help Plan and provide this to you and the family.
				p Please stop and read the Good Friends Medication Policy before doing any more of these activities.  
			
			a(href="a7.html")
				+button("Finish", true)

