extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 More than finishing To-Do lists.
			p Being a Caregiver by building a personal connection with your Members.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Introduction
			p.buffer To be successful, think of the care you provide as something like highly personalised customer service. You are more than a cleaner or yard worker or in-home carer. You are a significant part of each person's life. 
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom By focusing on what might at first – seem like "little things", you will strengthen your relationship with Members and this will, in turn, lead to more opportunities for you. 
				p For instance, think about how you might start a visit...

			+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue You arrive at 11:50am for your visit with Stan.
			img(src="img/a2/A2.03.jpg", class="img-responsive buffer") 

			+button("Open App", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Today
					p.date 29 June
					div.app-person
						p.time 9:30am
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
					div.app-person
						p.time 10:45am
						p.name Eliza Chen 
						p.desc 60 minutes of Personal Care, Companionship
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 12:00am
						p.name Stanley Buckland 
						p.desc 30 minutes of Domestic Assistance
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Stanley Buckland 
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 190 Terry Street, Blockhouse Bay, Auckland 0600

				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (027) 1153-809

				h3 Tasks
				p.text-left 30 minutes of Domestic Assistance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)
	
	div.screen
		div.content-wrap
			h1.blue You know Stan's kitchen needs a good clean.
			img(src="img/a2/A2.06_1.jpg", class="img-responsive buffer") 

			+button("Continue", true)

	div.screen
		div.content-wrap
			h1.blue Morning! Ah, sorry the place gets messy so quickly.
			img(src="img/a2/A2.06_2.jpg", class="img-responsive buffer") 

			+button("Continue", true)

	div.screen
		div.content-wrap
			h1.blue Thing is, it's such a lovely day! Let's go for a walk.
			img(src="img/a2/A2.07_1.jpg", class="img-responsive buffer") 

			p.question-text What will you say?

			+button("Quiz", false, "Would you still like me to take care of the kitchen?", 1)
			+button("Quiz", false, "Well, I have to get stuck into that kitchen, Stan...", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Great work! As a Good Friends Helper, you're more than a cleaner.
			p.buffer Sure, there are scheduled tasks, but you're there to provide a service. Sometimes, that means responding to the changing needs of your Members instead of being straight-jacketed by the task list.
			p.buffer-bottom Of course, you need to exercise good judgement. If the Member is not the Authorised Representative, you might want to confirm any requested changes to the schedule. 
			p.buffer-bottom In this case, Stan is capable of looking after himself most of the time. He just needs a bit of a hand now and then. He also enjoys the company.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom He doesn't have an Authorised Representative so as long as any changes to the schedule fall within the scope of his agreed Help Plan, Stan will clearly value the flexibility. 
				p.buffer-bottom Your response was good. Why not add something like the following to your toolbox? 
				p.buffer-bottom "I was planning to tidy up the kitchen this morning, Stan. Is that still something you'd like me to do?"
				p This does several things:
				ul
					li It demonstrates your commitment to complete the scheduled tasks 
					li At the same time, it shows your willingness to be flexible and responsive to his wishes
					li It encourages Stan's input and empowers him to make a decision based on his preferences.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Hmmm... you missed an opportunity here to delight.
			p.buffer Sure, there are scheduled tasks, but you're there to provide a service. Sometimes, that means responding to the changing needs of your Members instead of being straight-jacketed by the task list.
			p.buffer-bottom Of course, you need to exercise good judgement. If the Member is not the Authorised Representative, you might want to confirm any requested changes to the schedule. 
			p.buffer-bottom In this case, Stan is capable of looking after himself most of the time. He just needs a bit of a hand now and then. He also enjoys the company.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom He doesn't have an Authorised Representative so as long as any changes to the schedule fall within the scope of his agreed Help Plan, Stan will clearly value the flexibility.
				p.buffer-bottom Take the following: "I was planning to tidy up the kitchen this morning, Stan. Is that still something you'd like me to do?"
				p This does several things:
				ul
					li It demonstrates your commitment to complete the scheduled tasks 
					li At the same time, it shows your willingness to be flexible and responsive to his wishes
					li It encourages Stan's input and empowers him to make a decision based on his preferences.

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a2
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I really value the level of personalised care and attention I receive."
			a(href="a3a.html")
				+button("Finish", true)