extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Getting out and about.
			p Being a great Caregiver by respecting your Members' desire for discretion.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Carmel and Sharon are going out for the afternoon.
			img(src="img/a3a/A3a.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Carmel can't find her GoCard so Sharon lends a hand.

			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="-2%" data-bottom="64%") Let me help you, love. Your GoCard is the blue one.
				img(src="img/a3a/A3a.03.jpg", class="img-responsive buffer") 
		
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Carmel can't find her GoCard so Sharon lends a hand.

			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="-2%" data-bottom="64%") Let me help you, love. Your GoCard is the blue one.
				img(src="img/a3a/A3a.04.jpg", class="img-responsive buffer") 

			p.question-text Other passengers probably think the relationship is:

			+button("Quiz", false, "Family", 1)
			+button("Quiz", false, "Carer", 1)
			+button("Quiz", false, "Friend", 1)
			+button("Back", true)
	
	div.screen
		div.content-wrap
			h1.blue Select each passenger to see what they're thinking.

			div.speech-bubble-wrap
				div(class="bubble-trigger resize-me not-clicked" data-show="0" data-left="46%" data-bottom="10.5%")
				div(class="bubble-trigger resize-me not-clicked" data-show="1" data-left="79%" data-bottom="10.5%")
				p(class="triangle-border resize-me" data-bubble="0" data-left="45%" data-bottom="64%") Poor old dear. Her carer should get her card ready!
				p(class="triangle-border resize-me right-bubble" data-bubble="1" data-left="40%" data-bottom="64%") Don't old folks' homes have minibuses and stuff? 
				img(src="img/a3a/A3a.04.jpg", class="img-responsive buffer activity-img") 

			+button("Continue Lock", true)

	div.screen
		div.content-wrap
			h1.blue You might say "Who cares what people think?"
			p.buffer Well, the thing is, our Members care very much about what other people think. That's why we're committed to helping you deliver this part of the Good Friends experience.
			
			div.greenblue.no-margin.buffer
				p Let's revisit the scene on the bus and look at the little things that Sharon – and <b>you</b> – can do to honour our Members' request for <b>discretion</b>.

			+button("Continue 2", true)
			+button("Back 2", true, false, 2)

	div.screen
		div.content-wrap
			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="-2%" data-bottom="64%") Let me help you, love. Your GoCard is the blue one.
				img(src="img/a3a/A3a.03.jpg", class="img-responsive buffer") 

			p.question-text What signals to everyone that Sharon is a Helper?

			+button("Quiz", false, "Her behaviour", 1)
			+button("Quiz", false, "Her appearance", 1)
			+button("Quiz", false, "Both", 1)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Behaviour somewhat. Mostly it's her appearance. 
			img(src="img/a3a/A3a.07.jpg", class="img-responsive buffer") 
			p.buffer As a Good Friends Helper, you should strive to avoid stereotypes of "aged care". Items like lanyards, ID cards, and branded uniforms broadcast far and wide that you are a Carer. You are not required to wear a uniform. Your dress code is between you and your Member.
			p.buffer-bottom Unless the Member is living in a community where this type of service is common, it's unlikely they want to advertise their choice to engage a home care provider. 

			div.greenblue.no-margin.buffer
				p.buffer-bottom Wear smart casual to visits – <b>especially</b> when you think you'll be heading out into the community – unless instructed otherwise by your Member or the Authorised Representative. 
				p The best way to ensure your Members feel dignified and respected is to appear and act less like a carer and more like a good friend.

			+button("Continue 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a3a
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "She'd never say it, but I know Mum likes discretion when they go out"
					
			a(href="a3b.html")
				+button("Finish", true)