extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Choosing your words.
			p Being a great Caregiver by respecting your Members' desire for discretion.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Ron is a well-known member of his community.
			img(src="img/a3b/A3b.02.jpg", class="img-responsive buffer") 
			p.buffer Like many of our Members, he doesn't think of himself as "old" and he certainly doesn't want anyone else in his community to see him like that, either!
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom He needs a little bit of assistance now and again with things around the house so he gets Darren, a Good Friends Helper to come around every week and lend a hand with various tasks.
				p He enjoys Darren's company, too. Ron's wife passed away a few years ago and his adult children live overseas. He talks to them often and they visit when they can, but he still finds himself a bit lonely at times.   

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap
			h1.blue Here's Darren, heading off after his visit with Ron.
			img(src="img/a3b/A3b.03.jpg", class="img-responsive buffer") 
			p.buffer Navigate their exchange and see the consequences Darren's behaviour has for his Member, Ron.

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="44%" data-bottom="68%") See ya, mate. Thanks for the help!
				img(src="img/a3b/A3b.04copy.jpg", class="img-responsive buffer") 
		
			+button("Continue", true)
			+button("Back", true)
	
	div.screen
		div.content-wrap
			div.speech-bubble-wrap
				p(class="triangle-border resize-me" data-left="14%" data-bottom="60%") No worries. Well, I'd better get to old Pete's place. He is after a bit of help as well. See you next week.
				img(src="img/a3b/A3b.05.jpg", class="img-responsive buffer") 
		
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Betty lives a couple of streets down and knows Ron.

			img(src="img/a3b/A3b.06.jpg", class="img-responsive buffer") 

			p.question-text Why might Betty think that Darren is visiting Ron?

			+button("Quiz", false, "Ron needs help around the home from a carer", 1)
			+button("Quiz", false, "Darren and Ron are friends", 1)
			+button("Quiz", false, "Darren is a member of Ron's family", 1)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue.buffer-bottom Maybe. Let's see what Betty is actually thinking...

			div.speech-bubble-wrap.top-buffer
				p(class="triangle-border resize-me wide-bubble" data-left="14%" data-bottom="100%") I didn't know Ron needed home care. I thought he was too young for that. I'll ask him what help he is getting when I see him next. I hope all is ok.
				img(src="img/a3b/A3b.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue What happened here?

			p.buffer The <b>outcome</b> of this situation is very similar to the one we saw with Carmel and her Helper, Sharon, on the bus – even though the details are quite different.
			p.bottom-buffer Unlike Sharon, Darren has dressed appropriately, but what he <b>says</b> – in a reasonably public setting and probably with a loud voice given that he's almost at the front gate – is not respecting Ron's strong desire for discretion. 
			
			div.greenblue.no-margin.buffer
				p As a Good Friends Helper, you should know what's important to your Members and pay attention to the "little things" that can impact whether you deliver the level of great service they expect. 

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a3b
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I value the way you respect Dad's privacy and I know he does, too."

			a(href="javascript:void(0)")
				+button("Finish", true, "complete")