extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1  Focusing your time &amp; attention.
			p Being a great Helper is about much more than just completing To-Do Lists.
			+button("Continue", false)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 1 July
					div.app-person
						p.time 4:30pm
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
				div.day-wrap
					p.day Today
					p.date 2 July
					div.app-person
						p.time 11:00am
						p.name Greg Barrett 
						p.desc 1 hour of Domestic Assistance, Specialist Healthcare
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 2:15pm
						p.name Margaret Stapleton 
						p.desc 45 minutes of Yard Maintenance
					div.app-person
						p.time 3:15am
						p.name Susan Merriweather
						p.desc 30 minutes of Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Margaret Stapleton
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 137 Arden Place, Parklands, Christchurch 8083
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 7410-066

				h3 Tasks
				p.text-left 1 hour of Yard Maintenance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Can you clean Margaret's yard in just 45 minutes?
			img(src="img/a4/A4.04.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue You start with the pile of junk beside the shed...
			img(src="img/a4/A4.05 clock.jpg", class="img-responsive buffer small-img") 
			img(src="img/a4/A4.05.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Meanwhile...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Next up, those weeds have got to go!
			img(src="img/a4/A4.07 clock.jpg", class="img-responsive buffer small-img") 
			img(src="img/a4/A4.07.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Meanwhile...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Raking up these leaves will really make things shine!
			img(src="img/a4/A4.08 clock.jpg", class="img-responsive buffer small-img") 
			img(src="img/a4/A4.08.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Meanwhile...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Great! You tidied up the yard with 10mins to spare.
			img(src="img/a4/A4.09.jpg", class="img-responsive buffer") 

			p.question-text What do you want to do?

			+button("Quiz", false, "Say bye to Margaret and get to your next visit early.", 1)
			+button("Quiz", false, "Offer to do another task in the yard for Margaret.", 2)
			+button("Quiz", false, "Spend the remaining time chatting with Margaret.", 3)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Being a bit early is great. But what about Margaret?
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 
			p.buffer You can always log less time if you complete the assigned tasks faster than anticipated. 
			p.buffer-bottom Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom As an independent contractor, you are empowered to make decisions in the best interest of the member.
				p If you've got five or ten minutes up your sleeve after completing all tasks, why not offer to make your Member a cup of tea or coffee and take the opportunity to really connect with them?   

			+button("Continue 4", true, false, 3)

	div.screen
		div.content-wrap
			h1.blue Umm, I suppose you could rake the front yard, too...
			img(src="img/a4/A4.06.jpg", class="img-responsive buffer") 
			p.buffer The Member and the Authorised Representative will be satisfied with your work and the gusto you've demonstrated in completing the tasks.
			p.buffer-bottom Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom As an independent contractor, you are empowered to make decisions in the best interest of the member.
				p If you've got five or ten minutes up your sleeve after completing all tasks, why not offer to make your Member a cup of tea or coffee and take the opportunity to really connect with them?

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Nice. You've delighted Margaret. You're a Magician!
			img(src="img/a4/A4.06_2.jpg", class="img-responsive buffer") 
			p.buffer Without rushing, you've demonstrated real gusto by finishing the tasks in less time than was allocated.  Great work!
			p.buffer-bottom Being a Good Friends helper is not just about focusing on the task. It is about providing what is best for the member on the day.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom As an independent contractor, you are empowered to make decisions in the best interest of the member.
				p.buffer-bottom By using the remaining 10 minutes to connect with Margaret, you're building the relationship and wrapping up the visit in a warm and caring manner.
				p.buffer-bottom Bear in mind that you should be mindful of what you talk about with Members. For instance, it's <b>not</b> appropriate to discuss other Members... or your family problems... or things like that. Instead, it's recommended you focus on <b>listening</b> and sharing positive life stories.
				p Also, if there is a way to involve Margaret (e.g. chatting with her <b>as</b> you do the yard work), she would probably appreciate it.

			+button("Continue 4", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a4
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Mum hasn't been this happy for years. It's so great to see her smile."

			a(href="a5.html")
				+button("Finish", true)