extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Meeting the needs of Members. 
			p Being responsive and flexible when your visit doesn't go quite as planned.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue You're off to Simone's to wash the sheets and towels.
			img(src="img/a5/A7.17.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue On your way there, you get a phone call...
			img(src="img/a5/A5.03.jpg", class="img-responsive buffer") 

			+button("Answer The Call", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Naomi says she called in on Simone earlier.
			img(src="img/a5/A5.03.jpg", class="img-responsive buffer") 

			p.buffer-bottom "I know you're planning to do the sheets and towels today, but the kitchen is a bit of a mess. Would you mind tidying the kitchen, please?"

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Today
					p.date 10 July
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 9:30am
						p.name Simone Arneson
						p.desc 90 minutes of Domestic Assistance
					div.app-person
						p.time 12:00pm
						p.name Alberto Gianconio 
						p.desc 15 minutes of Home Handyman
					div.app-person
						p.time 12:45pm
						p.name Eliza Chen 
						p.desc 60 minutes of Personal Care, Companionship
				div.day-wrap
					p.day Tomorrow
					p.date 10 July
					div.app-person
						p.time 9:00am
						p.name Robert Sturmberger
						p.desc 30 minutes of Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Simone Arneson
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 284 Boyce Street, Islington, Blenheim 7201
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (027) 7347-485

				h3 Tasks
				p.text-left 90 minutes of Domestic Assistance.

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Simone is in good spirits today.
			img(src="img/a5/A05.07.jpg", class="img-responsive buffer")
			p.buffer-bottom It's such a lovely day, isn't it? What's say we give the cleaning a miss and go out for a little bit?  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hmmm... you can't do all three things at once...
			img(src="img/a4/A4.09.jpg", class="img-responsive buffer") 

			p.question-text How will you prioritise the requests?
			p.text-muted.small.buffer-bottom.text-center Drag and drop the below options into the correct order

			div(class="reorder-activity" data-correct="2", data-incorrect="1")
				ul
					li(data-order="3") Do the sheets and towels.
					li(data-order="1") Clean the kitchen.
					li(data-order="2") Go out with Simone.

			+button("submit order", true)
			+button("Back", true)


	div.screen
		div.content-wrap
			h1.blue Naomi is unlikely to be happy with this decision. 
			p.buffer Your Community Manager and the Help Plan should always advise you who the primary decision maker is.
			p.buffer-bottom Authorised Representatives are appointed by the Member and the Member's family in consultation with the Community Manager. When the primary decision-maker is <b>not</b> the Member, there is always a good reason. 
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom You should prioritise the wishes of the Authorised Representative, then the Member, then the Help Plan for that day.
				p Of course, if you can prioritise multiple tasks in this way <b>and</b> get them all done, that will make you a Magician in everyone's eyes! 

			+button("Try Again 2", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Yes, that's the best order in this case. 
			p.buffer You might need to tactfully let Simone know that you spoke with Naomi earlier and <b>she</b> asked you to prioritise the cleaning today. You could suggest going out together if the cleaning doesn't take too long. 
			p.buffer-bottom Authorised Representatives are appointed by the Member and the Member's family in consultation with the Community Manager. When the primary decision-maker is <b>not</b> the Member, there is always a good reason. 
			
			div.greenblue.no-margin.buffer
				p You should prioritise the wishes of the Authorised Representative, then the Member, then the Help Plan for that day. Of course, if you can prioritise multiple tasks in this way <b>and</b> get them all done, that will make you a Magician in everyone's eyes!

			+button("Continue 2", true, false, 1)

	div.screen.app-screen
		div.modal
			div.modal-content
				p Here is the end-of-visit rating and the message you left in the app to communicate what happened.
				button.btn.btn-modal-close Continue
				
		div.content-wrap.app-wrap
			div.sub-app-screen
				p.greenblue-header.text-center Rate your visit

				div.stars
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o

				div.row
					div.col-xs-6
						p.greenblue-header Started At
						div.time-wrap.first
							p Mon 9:30am
					div.col-xs-6
						p.greenblue-header Finished At
						div.time-wrap.last
							p Mon 11:00am

				p.greenblue-header Notes for the Community Manager
				p.instructions If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager
				
				div.notes
					p Today’s tasks changed following call from Simone’s daughter, Naomi (Authorised Representative). Ended up doing a big kitchen tidy instead of changing and washing linen as planned. Simone wanted to go shopping. Not enough time for that, but we did go for a short walk after the cleaning.

				+button("Continue 3", false)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a5
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Mum and I love how easy it is to change things based on her needs."

			a(href="a6a.html")
				+button("Finish", true)