extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Providing help to individuals.
			p Being aware every Member is an individual and respecting the differences.  
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Today is your first visit with Fiona.
			img(src="img/a6a/A6 Pt1.05.jpg", class="img-responsive buffer") 
			p.buffer-bottom You've met Fiona once before with the Community Manager. She seemed youthful and energetic. She also came across as somewhat eccentric – which is probably not unusual for an artist. 

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 12 July
					div.app-person
						p.time 1:30am
						p.name Graham McKinley 
						p.desc 4 hours of Domestic Assistance, Home Administration, Companionship 
				div.day-wrap
					p.day Today
					p.date 13 July
					div.app-person
						p.time 9:30am
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 11:00am
						p.name Fiona Mortenson 
						p.desc 30 minutes of Home Handyman, Home Administration, Domestic Assistance
					div.app-person
						p.time 12:45pm
						p.name Eliza Chen 
						p.desc 60 minutes of Personal Care, Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Fiona Mortenson
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 196 Bronte Place, Leamington, Cambridge 3432
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (027) 6773-732

				h3 Tasks
				p.text-left 30 minutes of Home Handyman, Home Administration, Domestic Assistance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Fiona greets you warmly and invites you in...
			img(src="img/a6a/A6 Pt1.02.jpg", class="img-responsive buffer") 
			p.text-center.buffer-bottom Her place is a mess...

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Could this be a sign Fiona is not coping at home? 
			img(src="img/a6a/A6. Pt1.06.jpg", class="img-responsive buffer") 

			p.question-text Should you contact the Community Manager?

			+button("Quiz", false, "Yes", 1)
			+button("Quiz", false, "No", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue You could be getting off on the wrong foot here.
			p.buffer Caregivers don't jump to conclusions. In Fiona's case, her living room/studio appears to be "controlled artistic chaos". Remember, all Members are assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom As you develop a relationship with each Member, you need to be aware of significant <b>changes</b> to this "baseline". 
			
			div.greenblue.no-margin.buffer
				p You are always able to communicate minor concerns to the Community Manager via the rating system and notes section of the app to record baseline. Of course, it's always prudent to contact the Community Manager if you have a good reason for concern.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Good decision. That's probably not necessary today. 
			p.buffer Caregivers don't jump to conclusions. In Fiona's case, her living room/studio appears to be "controlled artistic chaos". Remember, all Members are assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom As you develop a relationship with each Member, you need to be aware of significant <b>changes</b> to this "baseline". 
			
			div.greenblue.no-margin.buffer
				p You are always able to communicate minor concerns to the Community Manager via the rating system and notes section of the app to record baseline. Of course, it's always prudent to contact the Community Manager if you have a good reason for concern.

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a6a
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I'm part of the generation that changed the world. Don't judge me until you know me."

			a(href="a6b.html")
				+button("Finish", true)