extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Providing help to individuals.
			p Being aware every Member is an individual and respecting the differences.  
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue It's Wednesday afternoon. Time to visit Graham.
			img(src="img/a6b/A6 Pt2.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 12 July
					div.app-person
						p.time 4:30pm
						p.name Donald Larkin
						p.desc 30 minutes of Domestic Assistance
				div.day-wrap
					p.day Today
					p.date 13 July
					div.app-person
						p.time 11:15am
						p.name Margaret Stapleton 
						p.desc 45 minutes of Yard Maintenance
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 1:30pm
						p.name Graham McKinley 
						p.desc 4 hours of Domestic Assistance, Home Administration, Companionship
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Graham McKinley 
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 278 Jeannie Way, Waikanae, Kapiti Coast 5036
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (020) 8111-362

				h3 Tasks
				p.text-left 4 hours of Domestic Assistance, Home Administration, Companionship

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue You've been visiting Graham regularly for months.  
			img(src="img/a6b/A6 Pt2.05.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Usually, you and Graham go shopping, you pre-cook some meals for him, and you watch TV together.  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Graham's favourite TV show is Fishing & Adventure. 
			p.buffer Every Wednesday afternoon at 4pm you and Graham watch Fishing & Adventure. Then he tells you stories of fishing trips with his family, with his mates, by himself. He <b>loves</b> Fishing & Adventure.

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue While you're at the supermarket, Graham asks... 
			img(src="img/a6b/A6 Pt2.07.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Hey, what time is Fishing & Adventure on again?" 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Later, while you're pre-cooking some meals...
			img(src="img/a6b/A6 Pt2.08.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Is Fishing & Adventure on yet? Is today Tuesday or Wednesday?" 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue You make some coffee and a snack. It's almost 4pm.
			img(src="img/a6b/A6 Pt2.09.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Fishing & Adventure is coming on now, right? Fishing & Adventure, yeah?" 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue.bottom-buffer Could this be a sign Graham needs more help? 
			p.question-text Should you contact the Community Manager?

			+button("Quiz", false, "Yes", 2)
			+button("Quiz", false, "No", 1)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hmm... you have an important balance to strike.
			p.buffer On the one hand, Caregivers don't jump to conclusions. Members have all been assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom On the other hand, you need to be alert for potential issues – <b>one</b> signal of which could be noticeable changes to that "baseline". It's always better to contact the Community Manager if you have reasons for concern.    
			
			div.greenblue.no-margin.buffer
				p It's <b>possible</b> that Graham's "baseline" is shifting. His behaviour seems a little out of character. Or it might be nothing. Probably worth flagging, though, in this case. The Community Manager will investigate further.

			+button("Continue 4", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Good decision. Graham does seem a bit out of sorts. 
			p.buffer As a Caregiver, there's an important balance for you to strike...
			p.buffer-bottom On the one hand, you need to avoid jumping to conclusions. Members have all been assessed by the Community Manager and everyone's "baseline" circumstances are different. 
			p.buffer-bottom On the other hand, you need to be alert for potential issues – <b>one</b> signal of which could be noticeable changes to that "baseline". It's always better to contact the Community Manager if you have reasons for concern.   
			
			div.greenblue.no-margin.buffer
				p It's <b>possible</b> that Graham's "baseline" is shifting. His behaviour seems a little out of character. Or it might be nothing. Probably worth flagging, though, in this case.  The Community Manager will investigate further. 

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a6b
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "We appreciate having someone to help with those things we can't quite manage by ourselves anymore."

			a(href="a19.html")
				+button("Finish", true)