extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Providing a clear picture to all. 
			p Being a great Caregiver by making sure everyone knows what's going on.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue Today you're visiting Derrick for the first time.
			img(src="img/a7/A7.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Derrick's wife, Rose, passed away last month.  
			img(src="img/a7/A7.03.jpg", class="img-responsive img-rounded buffer") 
			
			p.buffer-bottom Derrick and Rose were married 43 years. Their daughter, Sarah, is the Authorised Representative. It has been noted in the Help Plan that her father is not coping very well with day-to-day living. 

			div.greenblue.no-margin.buffer
				p Derrick's family and the Community Manager have identified that the house needs a lot of cleaning. You'll be visiting a few times a week initially to help with this.

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				div.day-wrap
					p.day Yesterday
					p.date 26 July
					div.app-person
						p.time 3:15pm
						p.name Patricia Davidson
						p.desc 30 minutes of Personal Care, Specialist Health Care
				div.day-wrap
					p.day Today
					p.date 27 July
					div.app-person.popover.app-next
						p.triangle-border Click Here
						p.time 1:30pm
						p.name Derrick Winston 
						p.desc 90 minutes of Domestic Assistance
					div.app-person
						p.time 3:15pm
						p.name Patricia Davidson 
						p.desc 30 minutes of Personal Care, Specialist Health Care 
			div.sub-app-screen
				p.checked-in You are checked in.
				+button("Check In", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Derrick Winston 
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 11 Cedar Drive, Frankton, Queenstown 9300
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (027) 8706-195

				h3 Tasks
				p.text-left 90 minutes of Domestic Assistance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Yes, it's clear the living rooms needs a good clean!
			img(src="img/a7/A7.06.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue And the kitchen needs some attention as well...
			img(src="img/a7/A7.07.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Derrick's bedroom could do with some TLC, too.
			img(src="img/a7/A7.08.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue It looks as if you've got your work cut out for you.

			div.row
				div.col-xs-4
					img(src="img/a7/A7.09 icon_loungeroom.jpg", class="img-responsive buffer") 
				div.col-xs-4
					img(src="img/a7/A7.09 icon_kitchen.jpg", class="img-responsive buffer") 
				div.col-xs-4
					img(src="img/a7/A7.09 icon_bedroom.jpg", class="img-responsive buffer") 

			p.question-text Where do you want to start?

			+button("Quiz", false, "Living Room", 1)
			+button("Quiz", false, "Kitchen", 1)
			+button("Quiz", false, "Bedroom", 1)
			+button("Back", true)

	
	div.screen
		div.content-wrap
			h1.blue You roll up your sleeves and get into it with gusto! 
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a7/A7.10 icon_cleaning.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Phew! You manage to get about half the cleaning done before you have to go to your next booking.   

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Derrick is very happy with your help today. 
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a7/A7.11 icon_thumbsup.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "That's fantastic. It looks great. Thank you very much. I'll see you next time!" 

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				p.greenblue-header.text-center Rate your visit

				div.stars
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o

				div.row
					div.col-xs-6
						p.greenblue-header Started At
						div.time-wrap.first
							p Thu 1:30pm
					div.col-xs-6
						p.greenblue-header Finished At
						div.time-wrap.last
							p Thu 3:00pm

				p.greenblue-header Notes for the Community Manager
				p.instructions If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager
				
				div.notes
					p Derrick is going well today. House cleaning. All good. 

				+button("Continue 2", false)

	div.screen
		div.content-wrap
			h1.blue Four days later, you're back at Derrick's place. 
			img(src="img/a7/A7.02.jpg", class="img-responsive buffer")    

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Derrick's living room seems to be in the same state!   
			img(src="img/a7/A7.15.jpg", class="img-responsive buffer")  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue The kitchen looks similar to your first visit... 
			img(src="img/a7/A7.16.jpg", class="img-responsive buffer")  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue And the bedroom isn't much better. Oh dear...
			img(src="img/a7/A7.17.jpg", class="img-responsive buffer")  

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Just like last time, there's a lot to tackle here.

			div.row
				div.col-xs-4
					img(src="img/a7/A7.09 icon_loungeroom.jpg", class="img-responsive buffer") 
				div.col-xs-4
					img(src="img/a7/A7.09 icon_kitchen.jpg", class="img-responsive buffer") 
				div.col-xs-4
					img(src="img/a7/A7.09 icon_bedroom.jpg", class="img-responsive buffer") 

			p.question-text Where do you want to start?

			+button("Quiz", false, "Living Room", 1)
			+button("Quiz", false, "Kitchen", 1)
			+button("Quiz", false, "Bedroom", 1)
			+button("Back", true)
			
	div.screen
		div.content-wrap
			h1.blue Once again, you give it plenty of elbow grease. 
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a7/A7.10 icon_cleaning.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom And, just like last time, there's not enough time to clean everywhere.    

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Derrick says he really appreciates your hard work.  
			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a7/A7.11 icon_thumbsup.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Thanks a lot. That's a big help. See you next time."

			+button("Continue", true)
			+button("Back", true)

	div.screen.app-screen
		div.modal
			div.modal-content
				p Here is the end-of-visit rating and the message you left in the app to communicate what happened.
				button.btn.btn-modal-close Continue

		div.content-wrap.app-wrap
			div.sub-app-screen
				p.greenblue-header.text-center Rate your visit

				div.stars
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o

				div.row
					div.col-xs-6
						p.greenblue-header Started At
						div.time-wrap.first
							p Thu 1:30pm
					div.col-xs-6
						p.greenblue-header Finished At
						div.time-wrap.last
							p Thu 3:00pm

				p.greenblue-header Notes for the Community Manager
				p.instructions If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager
				
				div.notes
					p House cleaning. Derrick in good spirits. 

				+button("Continue 2", false)

	div.screen
		div.content-wrap
			h1.blue Three days later, Derrick's daughter calls you. 
			img(src="img/a7/A7.22.jpg", class="img-responsive buffer") 

			+button("Answer The Call", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Sarah is at her father's place. She sounds irritated. 
			img(src="img/a7/A7.17.jpg", class="img-responsive buffer")  
			p.buffer-bottom "I don't understand what's going on... Dad's place is a mess. What's happening?"

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Sarah knows that you've visited and cleaned twice. 

			img(src="img/a7/A7.06.jpg", class="img-responsive buffer") 

			p.question-text Why do you think she's dissatisfied?

			+button("Quiz", false, "You weren't able to clean the living room.", 1)
			+button("Quiz", false, "You weren't able to clean the kitchen.", 1)
			+button("Quiz", false, "You weren't able to clean the bedroom.", 1)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue This case shows the importance of communication. 
			p.buffer Well done for tackling the cleaning head on and doing it with gusto. Derrick's current personal situation requires sensitivity and the domestic help needed could be a large, ongoing challenge. 
			p.buffer-bottom It's possible Sarah has underestimated the amount of help her father needs at this difficult time. When you maintain an open channel of communication with Members <b>and</b> the family – and <b>especially</b> Authorised Representatives – you can help manage expectations by making sure everyone has the full picture.
			p.buffer-bottom One of the best things you can do is take a photo with your phone and text it to the Authorised Representative. Speaking of which, you can always texts photos to your Community Manager when you rate the visit and leave comments. In this case, Sarah would then be able to <b>see</b> the "before &amp; after". Detailed comments would further help her understand. 
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom Also, when you rate visits, do so primarily based on how well the intended outcomes of the visit were achieved; not simply the Member's level of satisfaction. A better approach in Derrick's case would be to rate the visits lower and <b>explain why</b>. 
				p This combination of lower ratings accompanied by descriptive comments and photos would be likely to prompt a conversation with Sarah and the Community Manager about the possibility of more frequent visits at this time. 

			+button("Continue 2", true)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a7
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Keeping us in the loop about Dad gives us confidence and peace of mind."

			a(href="a8.html")
				+button("Finish", true)