extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Balancing Act
			p Dealing with risk as a Good Friends Helper.
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue In this activity, you're going to meet Trish.
			img(src="img/a8/A8.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Trish is a new Good Friends Member.
			img(src="img/a8/A8.03.jpg", class="img-responsive buffer") 
			p.buffer-bottom As is usual when we bring in a new Member, she met with yourself and your Community Manager beforehand. She told you all about her career as an author and her love of crosswords and word games. This will be your first official visit as her Helper. 
			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Let's go meet Trish.
			img(src="img/a8/A8.02.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue It's a little dark...
			img(src="img/a8/A8.05.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Hmm, the light seems to have burnt out. 
			img(src="img/a8/A8.11.jpg", class="img-responsive buffer") 

			+button("Continue", true)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue The fixture isn't broken. Just a burnt out bulb.
			img(src="img/a8/A8.11.jpg", class="img-responsive buffer") 

			p.question-text What do you want to do?

			+button("Quiz", false, "Conduct a comprehensive risk audit", 1)
			+button("Quiz", false, "Call the Community Manager", 1)
			+button("Quiz", false, "Find a way to change the bulb", 2)
			+button("Back", true)

	div.screen
		div.content-wrap
			h1.blue Be safe, not bubble wrapped. 
			p.buffer We want you to work safely, but our Community Managers have limited scope to conduct multiple assessments of the home environment after their initial inspections. You are also unlikely to have the time to conduct a comprehensive risk analysis. 
			p.buffer-bottom We never want you to take inappropriate risks. It is your obligation to conduct your work in a safe manner.
			p.buffer-bottom One way you can fulfil this obligation is to visually inspect situations to satisfy yourself that you can do the job safely. If you have any doubts, don't touch it.
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom For example, if this scenario was in real life, you would pay particular attention to details such as damaged or missing parts, and burning or discolouration of the electrical fittings in the installation (e.g. damaged light switch or cracked power point).
				p Since none of these elements was present, you could be satisfied that the task was safe to do. 

			+button("Continue 2", true, false, 2)

	div.screen
		div.content-wrap
			h1.blue Take the time to consider your options.  
			p.buffer You should always stop and consider your safety and the safety of your Member before you do anything. 
			p.buffer-bottom A good rule of thumb is: If you would do it at home safely, do it for your Members. 
			p.buffer-bottom Always take the time to conduct a visual inspection of your work environments, every day. It is your obligation to conduct your work in a safe manner. This is a person's home, not a workplace. Things aren't always in the same place, or consistently safe. Just try to do what is reasonable. 
			
			div.greenblue.no-margin.buffer
				p Remember if you would do it at home, it's probably reasonable. Always call your Community Manager if you are in doubt. Your safety, and the safety of our Members is of the upmost importance.

			+button("Continue 2", true, false, 1)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a8
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "Nothing seems too much of an ask. It's why I joined and why I stay!"

			a(href="a18.html")
				+button("Finish", true)