extends layout.pug
block content
	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			+logo("v1")
			h1 Wrapping up the right way.
			p Being thorough with the administrative side of each visit. 
			+button("Continue", false)

	div.screen
		div.content-wrap
			h1.blue You've just wrapped up your weekly visit with Joan. 
			img(src="img/a9/A9.02.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom "Thanks again for listening. See you next week." 
			p.buffer-bottom Your scheduled tasks today were yard work and domestic help. You didn't get much of either done, though, because Joan was a bit upset and wanted to talk. 

			div.greenblue.no-margin.buffer
				p Joan had just heard that a neighbour – who is the same age as her – passed away overnight. So you spent most of the visit just being there, listening, chatting.

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				p.text-center.bottom-buffer You are checked in.
				+button("Check Out", false)

				h3 Contact
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Joan Winnicott 
				div.icon-w-text
					img(src="img/general/address_icon.svg")
					p 36 Doncaster Street, Mangere, Auckland 2022
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p 09 1134 5678

				h3 Tasks
				p.text-left 45 minutes of Domestic Help, Yard Maintenance

				h3 Community Manager
				div.icon-w-text
					img(src="img/general/name_icon.svg")
					p Allen Hsu
				div.icon-w-text
					img(src="img/general/phone_icon.svg")
					p (029) 1955-644

		+button("Continue 2", true)

	div.screen
		div.content-wrap
			h1.blue Why is it so important to <b>Check Out</b> of each visit? 
			img(src="img/a9/A9.02.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom There are a few good reasons...
			p.buffer-bottom It is important for the community manager to know if the visit length is appropriate for the desired task. Also If you keep needing more or less time at one location it might impact other visits for you or your productivity.

			div.greenblue.no-margin.buffer
				p.buffer-bottom Another reason is so the family can see who is in the home and when. This is one of our core promises to them.
				p.buffer-bottom And last but not least, checking out creates the invoice that is used to pay you. Checking In and Checking Out means you get paid correctly and the paperwork for your tax affairs is accurate.   

				p You can access all of our policies <a href='https://www.goodfriends.co.nz/resources/our-policies' target="_blank">here</a> and search for answers to questions at our FAQ’s <a href='https://www.goodfriends.co.nz/resources/helper-faqs' target="_blank">here</a>.

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap.star-wrap
			h1.blue Once you Check Out, you need to rate the visit. 
			p.text-center.buffer Tap the star rating you want to give.
			div.stars
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star
				i.fa.fa-star-o.interactive-star

			+button("submit rating", true)
			+button("Back", true)

	div.screen
		div.content-wrap.note-wrap
			h1.blue The final step: Notes for the Community Manager.
			p.text-center.buffer Select the comment you should leave for the Community Manager
			
			+button("Quiz", false, "1hr of domestic help and yard work scheduled. Only managed to complete part of the domestic help (some cooking and cleaning). No gardening today.", 1)
			+button("Quiz", false, "Some of the scheduled cooking and cleaning done. No yard work. Joan was upset about a neighbour’s death so we sat on the porch and talked instead.", 3)
			+button("Quiz", false, "All good. Joan was pleased with today’s visit. Prepared today’s meals, cleaned kitchen, took down the rubbish and the recycling bins.", 2)
			+button("Back", true)
	
	div.screen
		div.content-wrap
			h1.blue Notes like this don’t really paint the full picture.
			p.buffer This is a very matter-of-fact description of the visit. It also sounds as if you’re being a bit harsh on yourself! You might want to give some brief indication of Joan’s emotional state and how that impacted the deviation from the scheduled tasks.  

			+button("Try Again", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Notes like this don’t really paint the full picture.
			p.buffer This note is factually correct, but there are a couple of problems:
			ol
				li It doesn’t mention the yard work, which was part of the scheduled tasks.
				li It doesn’t give any indication of Joan’s emotional state and how that impacted the change in the schedule. 
			p.buffer-bottom This kind of note doesn’t really give the Community Manager a complete view of the visit. 

			+button("Try Again", true, false, 2)

	div.screen.app-screen
		div.content-wrap.app-wrap.prefill
			div.sub-app-screen
				p.greenblue-header.text-center Rate your visit

				div.stars
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star
					i.fa.fa-star-o

				div.row
					div.col-xs-6
						p.greenblue-header Started At
						div.time-wrap.first
							p Thu 9:00am
					div.col-xs-6
						p.greenblue-header Finished At
						div.time-wrap.last
							p Thu 10:00am

				p.greenblue-header Notes for the Community Manager
				p.instructions If there was an issue with your visit or you need to justify additional time, you can leave a note for the Community Manager
				
				div.notes
					p Tap here to add notes

				+button("Continue 2", false)

	
	div.screen
		div.content-wrap
			h1.blue Yes, that's the kind of information to put in notes.
			p.buffer This lets the Community Manager know what you did, the variance from the scheduled tasks, and the reason. It also provides a simple record of this emotional event (should it become relevant at a later date). 
			
			+button("Continue", true, false, 1)

	div.screen
		div.content-wrap
			h1.blue Let's take a closer look at the rating and the notes. 
			
			p.buffer The star-rating for visits is not a tool to rate your performance. It's about your impression of how well each visit meets a Member's needs – as well as the wishes of the Authorised Representative, if applicable. 
			p.buffer-bottom It's very important that your star-rating and notes work together to provide the Community Manager with a transparent account of every visit. Thoughtful, detailed ratings and feedback help the Community Manager in consultation with the Member's family review the Help Plan over time and adjust it, if necessary, to suit changing needs.  
			p.buffer-bottom In today's case, you were engaged to take care of some domestic tasks and a bit of gardening. Providing a compassionate ear to Joan instead is what being a Good Friends Helpers is all about. 

			div.greenblue.no-margin.buffer
				p Joan was clearly pleased with your visit today and not concerned by the variation from the schedule. Nevertheless, you should rate the visit less than 5-star and write a simple, to-the-point explanatory note. 

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap
			h1.blue What are the features of clear and useful notes?

			div.row
				div.col-xs-4.col-xs-offset-4
					img(src="img/a9/A9.12 icon_notepad.jpg", class="img-responsive buffer") 
			
			p.buffer-bottom Notes are a great way to communicate with your Community Manager. A good note provides clear communication about the Member, the schedule or visit. 
			p Leave a note when:
			ul
				li There is new information that is different to the Help Plan.
				li A change in the person's needs changes the timing or duration of the visit.
				li If something unexpected occurs.

			p.buffer-bottom We encourage you to use notes to give us general feedback and comments which do not need action. we love getting your notes! 
			
			div.greenblue.no-margin.buffer
				p.buffer-bottom However, Community Managers may not read a note for a couple of days.
		
				p Contact your Community Manager immediately if:

				ul 
					li The matter is urgent and needs resolving immediately or by the next work day.
					li The matter poses a risk to you or your Member when delivering the services requested.

				p.buffer-bottom In these situations, call your Community Manager on your mobile phone.

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen
		div.content-wrap
			h1.blue Two more important reasons to leave good notes... 
			
			p.buffer Sometimes, relationships don't develop the way we'd like them to. If ever a Member and/or their family is unhappy with the help you are providing, the Community Manager will refer to the notes you have recorded to support you. 
			
			div.greenblue.no-margin.buffer
				p On the flipside, you might identify a situation in which you think a Member might need further assistance. By mentioning this in your notes, the Community Manager can raise this with the Member and/or their family. 

			+button("Continue 2", true)
			+button("Back 2", true)

	div.screen.app-screen
		div.content-wrap.app-wrap
			div.sub-app-screen
				i.fa.fa-check-circle
				p.text-center.buffer-bottom <b>Thank You</b>

				p.text-center.buffer-bottom Your hours have been recorded and your note has been sent.

				div.row.thanks
					div.col-xs-4
						p.greenblue-header Started At
					div.col-xs-8
						p Thu 3 August 2017 9:00 am 

				div.row.thanks
					div.col-xs-4
						p.greenblue-header Finished At
					div.col-xs-8
						p Thu 3 August 2017 9:45 am

				div.row.thanks
					div.col-xs-4
						p.greenblue-header Billing
					div.col-xs-8
						p 45 minutes will be invoiced 

				+button("Continue 2", false)

	div.screen
		div.content-wrap.activity-complete-wrap
			div.activity-complete-image.a9
			div.activity.copy-section
				div.content-wrap
					+tick
					h2 Activity Complete
					p "I really appreciate being treated like a human being not a number."

			a(href="a2.html")
				+button("Finish", true)

			