extends layout.pug
block content
	div.container
		div.row
			div.col-md-12
				h1 Menu Links
				ul.sub-menu
					li.sub-menu-trigger.no-bg Meeting Your Members
						ul.sub-menu.subsub
							li
								a(href="a1.html") Activity 1
							li
								a(href="a2.html") Activity 2
							li
								a(href="a3a.html") Activity 3 (Part 1)
							li
								a(href="a3b.html") Activity 3 (Part 2)

					li.sub-menu-trigger.no-bg Our Vision Of A Visit
						ul.sub-menu.subsub
							li
								a(href="a4.html") Activity 4
							li
								a(href="a5.html") Activity 5
							li
								a(href="a6a.html") Activity 6 (Part 1)
							li
								a(href="a6b.html") Activity 6 (Part 2)
							li
								a(href="a19.html") Activity 19
							li
								a(href="a7.html") Activity 7
							li
								a(href="a8.html") Activity 8
							li
								a(href="a18.html") Activity 18
					li.sub-menu-trigger.no-bg Finishing Your Visit
						ul.sub-menu.subsub
							li
								a(href="a9.html") Activity 9

					li.sub-menu-trigger.no-bg Compliance Key Messages
						ul.sub-menu.subsub
							li
								a(href="compliance.html") Compliance