include includes/mixins.pug

doctype html
html(lang="js")
	head
		include includes/head.pug
	
	body#hammer-listener
		div.loader
			+logo("v1")
			p.loading Loading

		div.can-scroll-wrap
			img(src="img/general/gesture-animation.gif" class="can-scroll scroll-gesture")
				
		div.content
			include includes/menu.pug
			block content