extends layout.pug
block content
	script(src="https://fast.wistia.com/embed/medias/g2l8yg687r.jsonp" async)
	script(src="https://fast.wistia.com/assets/external/E-v1.js" async)

	div.screen.blue-bg.no-menu.intro.has-flex
		div.content-wrap
			div.video-wrapper
				img(src="img/general/logo_v1.png" class="img-responsive video-logo")
				h1 Summary
				div.wistia_responsive_padding
					div.wistia_responsive_wrapper
						span(class="wistia_embed wistia_async_g2l8yg687r popover=true popoverAnimateThumbnail=true videoFoam=true")